@font-face {
    font-family: 'Russo';
    src: url('../src/fonts/Russo.ttf');
}
.control {
    display: flex;
}
.table {
    margin: 10px 0;
}
.h1 {
    display: flex;
    justify-content: center;
    font-family: 'Russo';
}
.span_h1 {
    color: rgb(218, 0, 0);
}